#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.foodImage {
  max-width: 800px;
}

.Card {
  color: black;
  background-color: white;
  border-radius: 30px;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.foodForm {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.foodForm label {
  width: calc(50% - 20px);
  margin: 0 10px;
  padding-bottom: 20px;
}

.foodForm label input {
  display: block;
  width: 80%;
  padding: 5px;
  margin-top: 5px;
}

input[type='submit'] {
  width: 100%;
  margin: 10px;
  padding: 5px;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 100;

}