#root {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 95vw;
  padding: 0 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.addFoodForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 80%;
  background: #444;
  color: #fff;
  border-radius: 16px;
  padding: 2rem;
}

.addFoodForm input {
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
  color: white;
}

.foodBox {
  background-color: #333;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  gap: 1em;
  border: 1px solid #e9e9e9;
}

.foodBox__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.foodBox__image {
  max-width: 200px;
  max-height: 200px;
}

.foodBox__name {
  font-size: 1.5em;
  font-weight: bold;
}
