.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.FoodList {
  margin: 0 auto;
  max-width: 40rem;
}

.FoodBox {
  text-align: center;
  border: 1px solid #747bff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .42);
  height: max-content;
}

.AddFoodForm {
  margin: 0 auto 1rem auto;
  border: 1px solid #747bff;
  padding: 1rem;
  max-width: 40rem;
}

.AddFoodForm form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.Search {
  text-align: center;
}

.Search input {
  padding-block: .32rem;
  width: 100%;
}