*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  font-size: 14px;
  line-height: 1.5714285714285714;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 auto;
}

input {
  background: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding-block: .32rem
}